body{
    max-width: 650px;
    margin: 40px auto;
    padding: 0 10px;
    line-height: 1.5;
}

h2{
    font-weight: normal;
    color: #808080;
    margin-bottom: 10px;
}

a{
    text-decoration: underline;
    color: #0000ff;
}

#site-title{
    text-decoration: none;
    color: #444;
}

#post-title{
    font-weight: 700;
    color: #000;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-links{
    margin: 10px 0;
}

hr{
    border-color: #444;
}


article{
    padding-top: 20px;
    line-height: 1.8;
}

ul, li{
    list-style-type: disc;
    margin-left: 10px;
}

h3{
    margin-top: 20px;
    margin-bottom: -10px;
}

p{
    margin-top: 10px;
}

span.bold{
    font-weight: 700;
}

article{
    margin-bottom: 40px;
}

.callout{
    border: #444 solid 1px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin: 20px 0 20px 0;
    /* border-color: #cdb2fa;
    background-color: #f6f1fe; */
    /* 类似飞书云文档的 highlight block 效果 */
}

h4{
    margin-bottom: -10px;
}